<div class="pb-5">
  <input #catSearch type="text" class="form-control-lg text-center" placeholder="Search breeds" (input)="search(catSearch.value)">
  <div *ngFor="let breed of breeds$ | async" >
    <button type="button" class="btn btn-link" (click)="selectBreed(breed)">{{breed.name}}</button>
  </div>
</div>

<div class="py-5 bg-light" *ngIf="selectedBreed">
  <div class="container">
    <div class="card shadow">
      <div class="card-body">
          <p class="card-text">{{selectedBreed?.name}}</p>
          <p class="card-text">{{selectedBreed?.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>


